name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    # - name: Set up Docker Buildx
    #   uses: docker/setup-buildx-action@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push Docker images
      # You may pin to the exact commit or the version.
      # uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75
      uses: docker/build-push-action@v6.9.0
      with:
        # Path to the Dockerfile
        file: VictoriaCheckProxy/Dockerfile # optional
        # Push is a shorthand for --output=type=registry
        push: true # optional, default is false
        tags: muxa1l/victoriacheckproxy:latest,muxa1l/victoriacheckproxy:${{github.run_number}}
